@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

.no-cursor {
  cursor: no-drop;
}

.row__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  max-width: 100vw;
  overflow: hidden;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
}

.purple {
    color: #6415ff;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*

NAV BAR

*/


.nav {
    height: 80px;
    display: flex;
    margin: 0 24px;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    margin: 4px;
}

.nav__logo--title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
    text-decoration: none;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}


/*

Description

*/

